.accent {color: brown;}
.bg {border: 2px solid coral;}
.day {color: blue;}
.week {border: 1px solid coral}
.col {color:blue}

.bg1{color: green;}
.bg2{border: 2px solid coral;}
.bg3{border: 1px solid coral}

