.tb1{width:750px; height: 250px; text-align: center;}

th{background-color: cadetblue;}
.sum{font-weight: bold; background-color: cadetblue;}
.sum1{font-weight: bold; background-color: cadetblue;}
.save{width:750px; text-align: center;}
td{border: none;}

.text{width:130px; height: 25px;}