.box {width:100px; height: 100px; background-color: red;}
.box1{width:100px; height: 100px; background-color: green;}
.box2{width:100px; height:100px; background-color: yellow;}
.box3 {width:100px; height:100px; background-color:blue;}
.box4{width:100px; height:100px; background-color:red; margin-top: 20px; margin-bottom: 15px;}
.box5{width:100px; height:100px; background-color:green; margin-top: 20px; margin-left: 15px;}
.box6{width:100px; height:100px; background-color: yellow;}
.box7{width:100px; height:100px; background-color: blue; margin-left: 15px;}
.box8{width:100px; height:100px; background-color: red; margin-left: 400px; margin-right: 20px; margin-bottom:20px;}
.box9{width:100px; height:100px; background-color: green;}
.box10{width:100px; height:100px; background-color: yellow; margin-left:400px; margin-right: 20px;}
.box11{width:100px; height:100px; background-color: blue;}


.flex {display: flex;}